
*{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400PX;
    font-style: normal;
}


body{
    background-color: #BB9AB1;
}

.contenedorSobreMi{
    padding: 30px 30px;
    background-image: url('/assets/.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del contenedor*/
}

h1{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    font-style: normal;
}

#app{
    color: #362736;
}

.descripcion {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
}


img {
    /*
    Este codigo adapta la imagen a su tamaño ideal 
    max-width: 100%;
    height: auto; */
    border-radius: 20%;
  }

  

/*El código lee de ARRIBA para ABAJO*/
.lead{
      font-family: "Dosis", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700%;
      font-style: normal;
}


header{
    background-color: #987D9A;
}

header span{
    color: #FEFBD8;
}

.nav-item a{
    color: #FEFBD8;
    font-size: 20px;
}

#nav-button{
    background-color: #EECEB9;
    color: #FEFBD8;
}

.nav-item a:visited{
    color: #FEFBD8;
}

.nav-item a:hover{
    color: #EECEB9;
}

.d-block{
    border-radius: 30%;
}
.d-block:hover{
    background-color: #752727;
}


/*.buttonCv{
     margin-left: -20px;  Mueve el objeto 20 píxeles a la izquierda 
        border: 1px solid #362736; Borde sólido de 2px y color 
        background-color: #EECEB9; 
        color: #513b52
      } 
*/
#profesion{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
}


.bi{
    color: #758694;
}


.proyecto-pinterest{
    background-image: url('/images/clon-pinterest.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.proyecto-pinterest::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.proyecto-pinterest .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}

.icono-contacto{
    font-size: 2rem;
    color: #987D9A;
}

/*El atributo container hace que el tamaño del objeto se acomode en la pagina*/

footer{
    background-color: #987D9A;
    color: #FFF8F3;
}

footer p a{
    color: #FFF8F3; 
}

.tituloHabilidades{
    color:#59405a
}

p{
    font-family: "Dosis", sans-serif;
      font-weight: 400px;
      font-size: 18px;
      font-style: normal;
}

#habilidades {

    background-image: url(/assets/fondoHabili.avif);

}

.divContacto{
    background-color: #EECEB9;
}